.divBorders {
 margin: 15px;
 background-color: lightblue;
 border-radius: 5px;
}
.mainblock {
    text-align: center;
}
.buttons1 {
    margin: 0 auto;
}
.selectstyle {
    width: 50px;

}
.mainclass {
    background-color: lightpink;
    margin-left: 15%;
    margin-right: 15%;
}
body {
    background-color: white;
}

#button1:hover {
    width: 150px;
    transition: All 1.5s ease;
}

.textAr {
    width: 230px;
    height: 100px;
}
    


